---
layout: page.njk
title: About
---
<section class="section-about section-first">
    <article class="article-about">
        <h1>About Us</h1>
        
        <h2>North Dallas Developers are a focus on hands-on practice, group activities, and mentorship; less of a focus on large group lectures.</h2>
        
        <p>You learn to be a better developer primarily by developing and interacting with others. We are going to change the format to focus on activities where people are primarily doing, not listening.</p>
        
        <p>This isn’t to say that we won’t ever have meetings centered around someone speaking. Sometimes those meetings can be very valuable. But they will no longer be the norm.</p>
        
        <p>The goal: provide more effective learning opportunities for developers, helping them accomplish their goals and improve their careers.</p>
        
        <h2>Provide more ways of learning for people in each meeting.</h2>
        
        <p>Our gatherings will usually no longer be one-size-fits-all. Rather, we’ll use the nice facilities that we have to be able to break into multiple groups, hitting topics useful for people at different levels.</p>
        
        <p>One explicit goal in this regard is to provide more opportunities for younger developers. As an industry, we don’t do a great job of mentoring and helping those who are young in their career. This is not something we can solve, but is something with which we can help. Of course there will be material for the more mature developer as well.</p>
        
        <p>The goal: help a wider range of people improve their development skills.</p>
        
        <h2>Provide training for those interested in teaching, creating labs, writing materials, and mentoring</h2>
        
        <p>What we are proposing above is more work than the leadership team can do alone. On top of that, to create effective activities and curricula, you need more than just knowledge of programming. You need to dig into theories about learning and learn about education generally. In other words, you have to learn more about being a teacher. To solve this, we will provide training for the trainers. We will talk about principles, discuss practices, dig into exercises that worked (or didn’t) in real teaching scenarios, and develop curricula together.</p>
        
        <p>The goal: help developers grow into better teachers to prepare them to mentor others with us, hopefully improving the community and their careers.</p>
        
        <h2>Finally, we will be (subtly) changing our name.</h2>
        
        <p>We will now be the North Dallas Developers Group. At our user group we frequently talk about .NET, but we also talk about general development practices, web development, Node, git, et al. Given the change in direction and how we have broadened our topics over time anyway, it is time we changed the name. The whole leadership team still does .NET development so expect to continue to see .NET frequently. Perhaps even more frequently. But we are explicitly broadening what we cover.</p>
        
        <p>Your feedback and participation is needed. The May meeting will be dedicated to discussing these changes. If you want to discuss outside of the meeting, hit us up at <a href="mailto:officers@northdallas.net">officers@northdallas.net</a>.</p>
    </article>
</section>
<section class="section-officers">
    <h1 class="align-text:center">Our Officers</h1>
    <div class="list-officers">
        <figure class="list-officers-item">
            <img src="/assets/img/officers/eric.jpg" alt="Picture of Eric Sowell" draggable="false">
            <div class="align-text:center"><span class="bold">President</span> <br> <a href="https://twitter.com/mallioch">Eric Sowell</a></div>
        </figure>
        <figure class="list-officers-item">
            <img src="/assets/img/officers/david.jpg" alt="Picture of David L. Penton" draggable="false">
            <div class="align-text:center"><span class="bold">Finances</span> <br> <a href="https://twitter.com/dpenton">David L. Penton</a></div>
        </figure>
        <figure class="list-officers-item">
            <img src="/assets/img/officers/justin.jpg" alt="Picture of Justin Williams" draggable="false">
            <div class="align-text:center"><span class="bold">Vendor Relationships</span> <br> <a href="https://twitter.com/JustinsHat">Justin Williams</a></div>
        </figure>
        <figure class="list-officers-item">
            <img src="/assets/img/officers/eric.jpg" alt="Picture of Eric Sowell" draggable="false">
            <div class="align-text:center"><span class="bold">Website & Automation</span> <br> <a href="https://twitter.com/mallioch">Eric Sowell</a></div>
        </figure>
        <figure class="list-officers-item">
            <img src="https://via.placeholder.com/400.jpg?text=Russell+Durham" alt="Picture of Russell Durham" draggable="false">
            <div class="align-text:center"><span class="bold">Memborship & Sponsorships</span> <br> <a>Russell Durham</a></div>
        </figure>
        <figure class="list-officers-item">
            <img src="/assets/img/officers/darren.jpg" alt="Picture of Darren White" draggable="false">
            <div class="align-text:center"><span class="bold">Memborship & Sponsorships</span> <br> <a href="https://twitter.com/dowjack">Darren White</a></div>
        </figure>
    </div>
</section>