---
layout: page.njk
title: About
---
<!-- List of officer profiles -->
<section class="section-officers section-first">
    <h1 class="align-text:center">Meet the Team</h1>
    <hr class="hr:dotted hr:dotted_white"/>
    <div class="list-officers">
        <figure class="list-officers-item list-officers-item_fill">
            <div class="list-officers-item_container">
                <img src="/assets/img/officers/eric.jpg" alt="Picture of Eric Sowell" draggable="false">
                <div class="align-text:center"><span class="bold">President | Website &amp; Automation</span> <br> <a href="https://twitter.com/mallioch">Eric Sowell</a></div>
            </div>
        </figure>
        <figure class="list-officers-item">
            <div class="list-officers-item_container">
                <img src="/assets/img/officers/david-20230501.png" alt="Picture of David L. Penton" draggable="false">
                <div class="align-text:center"><span class="bold">Finances</span> <br> <a href="https://twitter.com/dpenton">David L. Penton</a></div>
            </div>
        </figure>
        <figure class="list-officers-item">
            <div class="list-officers-item_container">
                <img src="/assets/img/officers/justin.jpg" alt="Picture of Justin Williams" draggable="false">
                <div class="align-text:center"><span class="bold">Vendor Relationships</span> <br> <a href="https://twitter.com/JustinsHat">Justin Williams</a></div>
            </div>
        </figure>
    </div>
    <hr class="hr:dotted hr:dotted_white"/>
    <h2 class="align-text:center">Membership &amp; Sponsorships</h2>
    <div class="list-officers">
        <figure class="list-officers-item">
            <div class="list-officers-item_container">
                <img src="https://via.placeholder.com/400.jpg?text=Russell+Durham" alt="Picture of Russell Durham" draggable="false">
                <div class="align-text:center"><a>Russell Durham</a></div>
            </div>
        </figure>
        <figure class="list-officers-item">
            <div class="list-officers-item_container">
                <img src="/assets/img/officers/darren.jpg" alt="Picture of Darren White" draggable="false">
                <div class="align-text:center"><a href="https://twitter.com/dowjack">Darren White</a></div>
            </div>
        </figure>
    </div>
</section>

<section class="section-goal">
    <article class="section-goal-text">
        <img class="section-goal-icon section-goal-icon_small" src="/assets/img/icons/goalicon.png" alt="Goal Icon">
        <h1 class="section-goal-header align-text:center">Our Goal</h1>
        <hr class="hr:dotted"/>
        <p class=" align-text:center">Provide more effective learning opportunities for developers, helping 
                them accomplish their goals and improve their careers.</p>
    </article>
</section>
<!--
<section class="section-about">
    <hr />
    <article class="article-about">
        <<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
                publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
                publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>>
    </article>
</section>
-->
