---
layout: page.njk
title: Contact
---
<section class="section-first">
    <article>
        <h1>Where do we Meet?</h1>
        <p>We meet on the first Wednesday of each month. When we meet in-person, we will meet at the <a href="https://improving.com/" title="Improving">Improving</a> offices.</p>
    
        <h2>Location</h2>
        <p>
        <address>
            Improving<br />
            5445 Legacy Dr #100<br />
            Plano, TX 75024<br />
            Maps: <a href="https://g.page/improving-dallas?share" title="Improving HQ>Google</a><br />
        </address>
        </p>
        <h2>Join our Slack <a href="https://join.slack.com/t/northdallasdevelopers/shared_invite/zt-520t8ao5-LlPhAdqqax6YtsxuRWitnA" title="Slack workspace">workspace</a></h2>
    
        <h2>Time and Food</h2>
        <p>Food and Socializing starts at 6:00 PM. We'll have a few words from our sponsors and then off to our awesome presenter at 6:30 PM. Meetings typically end around 8:30 PM. Be sure to sign up for our monthly mailer for changes in our schedule. You can also subscribe to our <a href="https://www.youtube.com/@northdallasdevelopers" title="@northdallasdevelopers">YouTube channel</a>.</p>
    </article>
</section>

{% include "mail_signup.njk" %}
