---
layout: page.njk
title: Contact
---
<section class="section-first">
    <article>
        <h1>Where do we Meet?</h1>
        <p>We meet on the first Wednesday of each month. Starting July 3rd 2013, we meet at <a href="https://www.nthrive.com/">nThrive</a>.</p>
    
        <h2>Location</h2>
        <address>
            nThrive <br>
            5543 Legacy Drive <br>
            Plano, TX 75024  <br>
            Maps: <a href="https://goo.gl/maps/1OyNE">Google</a> | <a href="https://binged.it/1afBEJ9">Bing</a> <br>
        </address>

        <h2>Join our Slack <a href="https://join.slack.com/t/northdallasdevelopers/shared_invite/zt-520t8ao5-LlPhAdqqax6YtsxuRWitnA">workspace</a></h2>
    
        <h2>Time and Food</h2>
        <p>Food and Socializing starts at 6:00 PM. We'll have a few words from our sponsors and then off to our awesome presenter at 6:30 PM. Meetings typically end around 8:30 PM. Be sure to sign up for our monthly mailer for changes in our schedule.</p>
    </article>
</section>

{% include "mail_signup.njk" %}