---
layout: page.njk
title: North Dallas Developer Users Group
---
<!-- Hero Section -->
<section class="section-hero">
    <div class="hero-display_main-text">
        <h1 class="hero-display">
            Learn.<br>Train.<br> Develop.
        </h1>
        <p>
            North Dallas Developers (NorthDallas.net) is a non-profit association of people who are interested in any software development platform. 
        </p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="1050" height="720" viewBox="0 0 1050 720" preserveAspectRatio="none" class="background-arrow_hero">
        <path id="Blue_arrow_box" data-name="Blue arrow box" d="M0,825H975l75-375L975,105H0Z" transform="translate(0 -105)" fill="#5dc5ee"/>
    </svg>
</section>

<!-- Current Meeting Section -->
<section>
    <h1>Our Meetings</h1>
    
    <article>
        {{ collections.meeting[collections.meeting.length-1].templateContent | safe }}
    </article>
</section>

<!-- Sponsors Section -->
<section class="section-sponsors align-text:center">
    <h1 class="hero-display-small">Sponsored by Many</h1>
    <ul class="list-sponsors">
        <li class="item-sponsor"><img src="assets/img/sponsors/improving.svg" alt="Improving Logo"></li>
        <li class="item-sponsor"><img src="assets/img/sponsors/ineta.png" alt="Ineta Logo"></li>
        <li class="item-sponsor"><img src="assets/img/sponsors/microsoft.png" alt="Microsoft Logo"></li>
        <li class="item-sponsor"><img src="assets/img/sponsors/no-starch-press.png" alt="No Starch Press Logo"></li>
        <li class="item-sponsor"><img src="assets/img/sponsors/nthrive.png" alt="nThrive Logo"></li>
        <li class="item-sponsor"><img src="assets/img/sponsors/pluralsight.png" alt="Pluralsight Logo"></li>
        <li class="item-sponsor"><img src="assets/img/sponsors/resharper.svg" alt="ReSharper Logo"></li>
        <li class="item-sponsor"><img src="assets/img/sponsors/telerik.svg" alt="Telerik Logo"></li>
    </ul>
</section>

{% include "mail_signup.njk" %}