---
layout: page.njk
title: North Dallas Developer Users Group
---
<!-- Hero Section -->
<section class="section-hero">
    <div class="hero-display_main-text">
        <h1 class="hero-display">
            <span class="text_white">Learn.</span><br>Train.<br> <span class="text_white">Develop.</span>
        </h1>
        <p class="text_white">
            North Dallas Developers (NorthDallas.net) is a non-profit association of people who are interested in any software development platform. 
        </p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="1050" height="720" viewBox="0 0 1050 720" preserveAspectRatio="none" class="background background-arrow_hero">
        <path id="Blue_arrow_box" data-name="Blue arrow box" d="M0,825H975l75-375L975,105H0Z" transform="translate(0 -105)" fill="#5dc5ee"/>
    </svg>
    <img src="/assets/img/hero-placeholder.jpg" alt="" class="background background-image_hero">
</section>

<!-- Current Meeting Section -->
<section>
    <h1 class="event-header">
        <img src="/assets/img/icons/calendarbookmarkicon.png" />
        <span>Events</span>
    </h1>
    <div class="title-break"></div>
    <article>
        {{ collections.meeting[collections.meeting.length-1].templateContent | safe }}
    </article>
</section>

{% include "mail_signup.njk" %}