---
layout: page.njk
title: North Dallas Developer Users Group
---
<!-- Hero Section -->
<section class="section-hero section-first">
    <div class="hero-display_main-text">
        <h1 class="hero-display">
            <span class="text_white">Learn.</span><br>Train.<br> <span class="text_white">Develop.</span>
        </h1>
        <p class="text_white">
            North Dallas Developers (NorthDallas.net) is a non-profit association of people who are interested in any software development platform. 
        </p>
    </div>
</section>

<!-- Current Meeting Section -->
<section>
    <h1 class="event-header">
        <img src="/assets/img/icons/calendarbookmarkicon.png" />
        <span>Events</span>
    </h1>
    <div class="title-break"></div>
    <article class="article_meeting">
        {{ collections.meeting[collections.meeting.length-1].templateContent | safe }}
    </article>
</section>

{% include "mail_signup.njk" %}