---
pagination:
    data: collections.meeting
    size: 20
    alias: meetings
    reverse: true
title: Meetings
layout: page.njk
---
<section class="section-first">
    {%- for meeting in meetings -%}
    <article class="article-section_meeting">
        <h2 class="h2-link"><a href="{{ meeting.url }}">{{ meeting.data.title}}</a></h2>
        <div class="sub-time">
            <time>{{ meeting.date | readableDate }}</time>
        </div>
        
        {% meetingSummary meeting.templateContent, meeting.url %}
    </article>
    <hr />
    {%- endfor -%}
</section>
<section class="section-meeting-navigation">
    {% set leftHref = "href='" + pagination.previousPageHref + "'" %}
    {% set rightHref = "href='" + pagination.nextPageHref + "'" %}
    {% if pagination.previousPageHref === null %}
        {% set leftGray = "style='color: gray;'" %}
        {% set leftHref = "" %}
    {% elif pagination.nextPageHref === null %}
        {% set rightGray = "style='color: gray;'" %}
        {% set rightHref = "" %}
    {% endif %}
    <a {{ leftHref | safe }} {{ leftGray | safe }}><< View Newer Posts</a> | <a {{ rightHref | safe }} {{ rightGray | safe }}>View Older Posts >></a>
</section>
