.hidden {
    display: none;
}

.scroll-freeze {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.align-text\:start {
    text-align: start;
}

.align-text\:center {
    text-align: center;
}

.align-text\:end {
    text-align: end;
}

.pack\:right {
    margin-right: 0;
    margin-left: auto;
}

.bold {
    font-weight: 600;
}