<!-- Footer info -->
<footer>
    <!-- Social media + copyright -->
    <ul>
        <li>&copy; 2019</li>
        <li>Powered by <a href="https://www.zealitconsultants.com/">Zeal</a></li>
        <li>
            <button class="button_social button-blank">
                <figure><img src="{{ '/assets/img/logo-twitter.svg' | url }}" alt="Link to Twitter"></figure>
            </button>
        </li>
        <li>
            <button class="button_social button-blank">
                <figure><img src="{{ '/assets/img/logo-fb-simple.svg' | url }}" alt="Link to Facebook"></figure>
            </button>
        </li>
    </ul>
</footer>