<!-- Hero Title -->
<header class="title">
    {% include "header-footer.njk" %}
    <div class="bar-navigation">
        <button class="button-blank align-text:start" onclick="location.href='/'"><h1>North Dallas Developer</h1><div class="title-break"></div><h1>Group Event</h1></button>
        
        <!-- Main site navigation -->
        <nav>
            <div class="container-nav">
                <!-- Menu Items -->
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/meetings/">Past Events</a></li>
                    <li><a href="/contact/">Contact Us</a></li>
                </ul>
                
                <!-- E-mail Signup Convenience -->
                <div class="container-email_nav">
                    <form action="https://northdallas.createsend.com/t/t/s/ijttlk/" method="post">
                        <fieldset>
                            <input id="fieldName" name="cm-name" type="hidden" value="">
                            <label for="fieldEmail" class="form-label hero-display-small align-text:center">Email Signup</label>
                            <input name="cm-ijttlk-ijttlk" type="email" autocomplete="off" required="" placeholder="Enter Email Address...">
                            <button type="submit" name="go" value="Register!" class="button-email">Register</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </nav>
        
        <!-- Hamburger Menu -->
        <button class="button_hamburger">
            <figure>
                <div class="hamburger-enter"></div>
            </figure>
        </button>
    </div>
</header>