<!-- Hero Title -->
<header class="title">
    <h1>North Dallas<br>Developer<br>Users&nbspGroup</h1>
    
    <!-- Main site navigation -->
    <nav>
        <!-- Menu Items -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Sign Up</a></li>
            <li><a href="/meetings/">Meetings</a></li>
        </ul>
        
        <!-- E-mail Signup Convenience -->
        <div class="container-email_nav">
            <h3>E-mail Signup</h3>
            <form action="">
                <input type="email">
                <button class="button-email">Register</button>
            </form>
        </div>
    </nav>
    
    <!-- Hamburger Menu -->
    <button class="button_hamburger">
        <figure>
            <div class="hamburger-enter"></div>
        </figure>
    </button>
</header>