<!-- Hero Title -->
<header class="title">
    <button class="button-blank align-text:start" onclick="location.href='/'"><h1>North Dallas<br>Developer<br>Users&nbspGroup</h1></button>
    
    <!-- Main site navigation -->
    <nav>
        <div class="container-nav">
            <!-- Menu Items -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="/signup/">Sign Up</a></li>
                <li><a href="/meetings/">Meetings</a></li>
            </ul>
            
            <!-- E-mail Signup Convenience -->
            <div class="container-email_nav">
                <form action="http://northdallas.createsend.com/t/t/s/ijttlk/" method="post">
                    <fieldset>
                        <input id="fieldName" name="cm-name" type="hidden" value="">
                        <label for="fieldEmail" class="form-label hero-display-small align-text:center">Email Signup</label>
                        <input name="cm-ijttlk-ijttlk" type="email" autocomplete="off" required="" placeholder="Enter Email Address...">
                        <button type="submit" name="go" value="Register!" class="button-email">Register</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </nav>
    
    <!-- Hamburger Menu -->
    <button class="button_hamburger">
        <figure>
            <div class="hamburger-enter"></div>
        </figure>
    </button>
</header>