<section class="section-email">
    <form class="form-email_final" action="http://northdallas.createsend.com/t/t/s/ijttlk/" method="post">
        <fieldset>
            <input id="fieldName" name="cm-name" type="hidden" value="">
            <label for="fieldEmail" class="form-label hero-display-small align-text:center">Sign Up for our Mailing&nbspList!</label>
            <input name="cm-ijttlk-ijttlk" type="email" autocomplete="off" required="" placeholder="Enter Email Address...">
            <button type="submit" name="go" value="Register!" class="primary-button">Register</button>
        </fieldset>
    </form>
</section>