* {
    box-sizing: border-box;
}

body {
    position: relative;
}

section {
    padding: ($rhythm) ($rhythm * 1.2);

    margin-bottom: $rhythm;
}

a {
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

li {
    list-style: none;
}

td:first-child {
    font-weight: 700;
}

input {
    border: $stroke-size solid map-get($map: $colors, $key: funston-black);
    margin-bottom: $rhythm;
}

@media only screen and (min-width: 534px) {
    main {
        padding: ($rhythm) ($rhythm * 1.5);
    }
}

@media only screen and (min-width: 700px) {
    main {
        padding: ($rhythm) ($rhythm * 5);
    }
}

@media only screen and (min-width: 1200px) {
    main {
        padding: ($rhythm) ($rhythm * 10);
    }
}