* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  max-width: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
}

main {
  overflow-x: hidden;

  flex: 1 0 auto;
}

section {
  padding: ($rhythm) ($rhythm * 1.2);

  margin-bottom: $rhythm;
}

.section-first {
  margin-top: 5rem + $rhythm;

  padding-top: 3 * $rhythm;
}

a {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

li {
  list-style: none;

  margin-bottom: 0;
}

li > ol {
  margin-bottom: 0;
}

li > ul {
  margin-bottom: 0;
  margin-top: 0;
}

td:first-child {
  font-weight: 700;
}

td,
th {
  border-bottom: 0px;
  padding-top: 0.6rem;
  padding-bottom: 0px;
  font-size: large;
}

input {
  border: $stroke-size solid map-get($map: $colors, $key: funston-black);
  margin-bottom: $rhythm;
}

// Dangerously generic
article h2 img {
  height: 40px;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-right: 5px;
}

article h2 {
  font-weight: 500;
}

hr {
    width: 100%;
}

@media only screen and (min-width: 534px) {
  section {
    padding: ($rhythm) ($rhythm * 1.5);
  }
}

@media only screen and (min-width: 700px) {
  section {
    padding: ($rhythm) ($rhythm * 5);
  }
}

@media only screen and (min-width: 1200px) {
  section {
    padding: ($rhythm) ($rhythm * 10);
  }
}
