.section-about {
    display: flex;
    flex-flow: row wrap;
}

.article-about {
    flex: 1 70%;
}

.section-officers {
    background: map-get($map: $colors, $key: skyblue);

    padding-left: 10vw;
    padding-right: 10vw;

    h1 {
        color: white;
    }
}

.list-officers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.list-officers-item {
    margin: ($rhythm * 1.5) ($rhythm * 2.0);

    flex: 1 50%;

    max-width: $rhythm * 4.0;

    img {
        border-radius: 50%;
    }

    a {
        color: white;
    }
}

.hr\:dotted {
    background: none;

    border-top: rgba(0, 0, 0, 0.2) 2px dashed;
}

.hr\:dotted_white {
    border-top-color: white;
}

.section-goal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.section-goal-icon_small {
    max-width: 5rem;
}

.section-goal-text {
    max-width: 30rem;
}

@media only screen and (min-width: 1024px) {
    .list-officers-item {
        max-width: $rhythm * 6.0;
    }
}
