button {
  padding: $rhythm / 5;

  width: 50%;

  background: none;
  border: $stroke-size solid map-get($colors, funston-black);

  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

button:hover {
  cursor: pointer;

  background: map-get($map: $colors, $key: funston-black);

  color: white;
}

button:active {
  transform: scale(0.9);
}

button:focus,
button:active {
  outline: none;
  border: none;
}

.primary-button {
  padding: 0.56rem;
  background: map-get($map: $colors, $key: funston-black);
  color: white;
  border: 2px solid map-get($map: $colors, $key: funston-black);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: 30px;
  -webkit-appearance: button;
  -moz-appearance: button;
  min-width: 167px;
  text-decoration: none;
  text-align: center;
}

.button-blank {
  border: none;

  width: auto;
  height: auto;

  margin: 0;
  padding: 0;

  transition: none;

  &:hover {
    color: inherit;

    background: inherit;
  }
}

// Hamburger Menu styling and animation
.button_hamburger {
  margin-top: 0.7ex;

  width: $rhythm;
  height: $rhythm;

  background: none;

  position: relative;
  z-index: 3;

  border: none;

  figure {
    position: absolute;
    top: 0;
    left: -1ex;

    width: inherit;
    height: inherit;
  }

  &:hover {
    background: none;
  }
}

$hamburger-height: $rhythm / 5.5;
$hamburger-width: $rhythm * 1.2;

// Default state
.hamburger-enter {
  display: block;

  width: $hamburger-width;
  height: $hamburger-height;

  margin-top: ($hamburger-height) * 2;

  background: map-get($map: $colors, $key: funston-black);

  transition: all 0.4s cubic-bezier(1, 0, 0, 1);

  &::before,
  &::after {
    display: block;

    position: absolute;
    z-index: -1;

    content: "";

    width: $hamburger-width;
    height: $hamburger-height;

    background: map-get($map: $colors, $key: funston-black);

    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  &::before {
    left: 0;
    top: 0;
  }

  &::after {
    left: 0;
    top: $hamburger-height * 4;
  }
}

// "X" state
.hamburger-exit {
  background: none;

  &::before,
  &::after {
    top: $hamburger-height * 2;
  }
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

// Social media buttons
.button_social {
  background: none;
  border: 0;

  padding: 0;

  min-width: $rhythm;
}

// E-mail buttons
.button-email {
  padding: $rhythm / 2.5;

  background: map-get($map: $colors, $key: funston-black);

  color: white;

  border: $stroke-size solid map-get($map: $colors, $key: funston-black);

  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:hover {
    background: none;

    color: map-get($map: $colors, $key: funston-black);
  }
}

// Event attend button
.article_meeting p a {
  // -webkit-appearance: button;
  // -moz-appearance: button;
  display: inline-block;
  padding: 0.56rem;
  background: rgba(0, 0, 0, 0.871);
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.871);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: 30px;
  min-width: 167px;
  text-decoration: none;
  text-align: center;
  font-size: medium;
}

.article-button {
  background: map-get($map: $colors, $key: funston-black);
  color: white;

  min-height: 60px;
  border-radius: 30px;

  font-weight: 700;
  font-size: 1.125rem;
}

@media only screen and (min-width: 1000px) {
  .article-section_meeting .article-button {
    max-width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .button_hamburger {
    display: none;
  }
}
