footer {
  padding: 0.7rem 0;

  border-top: 1px solid rgba(0, 0, 0, 0.12);

  background: white; // Might be inflexible

  flex-shrink: 0;

  & a {
    text-decoration: none;
  }

  & img {
    height: 100%;

    vertical-align: middle;
  }

  ul {
    margin: 0;
    padding: 0 1.68rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    li {
      margin: 0 calc($rhythm / 5);

      flex: 0 0 1rem;

      height: 28px;
    }
  }
}

.copyright {
  flex-basis: 3rem;
}

.list-logo {
  flex: 0 1 auto;

  & a {
    width: 100%;
  }

  img {
    width: auto;
    max-width: 50%;

    display: inline-block;

    object-fit: contain;
  }

  & span {
    font-size: calc(1rem / 1.5);

    margin-right: calc(1rem / 4);
  }
}

.list-break {
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 1);
  
  height: 35px;
  max-width: 2px;

  margin: 0 0.2rem;
}

@media only screen and (max-width: 375px) {
  .copyright {
    order: 4;
    flex: 1 100%;

    margin-top: 1rem;

    text-align: center;
  }
}
