.title {
  margin: $rhythm 0;
  margin-top: 0;

  width: 100%;

  position: absolute;
  z-index: 99;

  h1 {
    margin-bottom: 0;

    font-weight: 500;
    font-size: $rhythm / 1.2;
  }
}

.title-break {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

.bar-navigation {
  padding: 0 ($rhythm * 1.2);

  display: flex;
  justify-content: space-between;

  box-shadow: 0px 3px 6px rgba(23, 23, 23, 0.55);

  background-color: white; // Let's be wary of background color

  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
}

.button-title {
  padding: 0;

  width: auto;
  height: 100%;

  text-align: left;

  margin: 0;

  border: none;

  &:hover,
  &:active {
    transform: scale(1);

    background: none;

    color: map-get($map: $colors, $key: funston-black);
  }
}

@media only screen and (min-width: 534px) {
  .bar-navigation {
    padding: ($rhythm - 0.4rem) (($rhythm * 1.5) + ($rhythm * 1.2));
  }
}

@media only screen and (min-width: 700px) {
  .bar-navigation {
    padding: ($rhythm - 0.4rem) (($rhythm * 5) + ($rhythm * 1.2));
  }
}

@media only screen and (min-width: 1200px) {
  .bar-navigation {
    padding: ($rhythm - 0.4rem) (($rhythm * 10) + ($rhythm * 1.2));
  }
}
