.title {
    margin: $rhythm 0;
    padding: 0 $rhythm;

    width: 100%;

    position: absolute;
    z-index: 99;

    display: flex;
    justify-content: space-between;

    h1 {
        margin-bottom: 0;

        max-width: 70%;

        font-size: $rhythm / 1.2;
    }
}

@media only screen and (min-width: 534px) {
    .title {
        padding: 0 ($rhythm * 1.5);
        margin: $rhythm * 1.2 0;
    }
}

@media only screen and (min-width: 1250px) {
    .title {
        width: 62vw;
    }
}