.title {
    margin: $rhythm 0;
    padding: 0 $rhythm;

    position: relative;
    z-index: 0;

    display: flex;
    justify-content: space-between;

    h1 {
        max-width: 70%;
    }
}

@media only screen and (min-width: 534px) {
    .title {
        padding: 0 ($rhythm * 1.5);
        margin: $rhythm * 1.2 0;
    }
}

@media only screen and (min-width: 1250px) {
    .title {
        width: 62vw;
    }
}