.section-hero {
  background: 
  linear-gradient(rgba(93, 197, 238, 0.8), rgba(93, 197, 238, 0.8)), url("/assets/img/hero-placeholder.jpg") center center / cover no-repeat;

  height: 100vh;
  min-height: $rhythm * 16;
  max-height: 25rem;

  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.hero-display_main-text {
  margin: auto 0;

  max-width: $rhythm * 10;

  & > * {
    position: relative;

    z-index: 5;
  }
}

.hero-display {
  word-wrap: normal;
  font-size: $rhythm * 2;
  font-weight: 500;
}

.hero-display\:small {
  word-wrap: normal;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.background-arrow_hero {
  opacity: 0.8;

  z-index: 1;

  width: 120vw;
  height: 100%;
}

.background-image_hero {
  z-index: 0;

  width: 100vw;
  height: 100%;

  object-fit: cover;
}

.event-header img {
  height: 60px;
  width: 60px;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-right: 40px;
}

.event-header span {
  vertical-align: middle;
  font-size: 2.8rem;
  font-weight: 500;
}

.current-meeting-section {
  article {
    margin-bottom: 2 * $rhythm;
  }
}

.current-meeting-section_upcoming-link {
  font-weight: 700;
  font-size: 1.125rem;
}

.sponsor-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  > * {
    text-align: center;
    font-size: 1.125rem;
  }

  > p {
    margin-bottom: 1.25 * $rhythm;
  }

   > h1 {
    font-size: 2.75rem;
  }

  > .article-button {
    width: 80%;
  }
}

@media only screen and (min-width: 500px) {
  .section-hero {
    justify-content: center;
  }

  .sponsor-section {
    > h1 {
      font-size: 4rem;
    }

    > .article-button {
      width: 100%;
      max-width: 50%;
    }
  }
}

@media only screen and (min-width: 534px) {
  .background-arrow_hero {
    width: 60vw;

    opacity: 1;
  }

  .background-image_hero {
    left: 20vw;
  }
}

@media only screen and (min-width: 700px) {
  .section-hero {
    background: 
    url("/assets/img/hero-arrow.svg") 0 50% / 60% 100% no-repeat, 
    url("/assets/img/hero-placeholder.jpg") 10vw 40% / 100% no-repeat;
  }
}

@media only screen and (min-width: 820px) {
  .section-hero {
    max-height: 20rem;
  }

  .hero-display_main-text {
    max-width: $rhythm * 10;
  }

  .sponsor-section {
    > .article-button {
      max-width: 30%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .section-hero {
    background: 
    url("/assets/img/hero-arrow.svg") 0 50% / 55% 100% no-repeat, 
    url("/assets/img/hero-placeholder.jpg") 10vw 40% / 100% no-repeat;

    max-height: 30rem;
  }

  .hero-display {
    font-size: $rhythm * 3.5;
  }
}
