.list-sponsors {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
    margin: 0;
}

.item-sponsor {
    padding: 0 ($rhythm);
    margin: $rhythm / 2 0;
    
    flex: 1 auto;
    min-height: 75px;
    max-width: $rhythm * 10;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        width: 100%;
        height: 100%;
    }
}

.section-hero {
    margin-top: $rhythm * 4;

    height: 100vh;
    min-height: $rhythm * 16;
    max-height: 25rem;

    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.hero-display_main-text {
    margin: auto 0;

    max-width: $rhythm * 10;
}

.hero-display {
    word-wrap: normal;
    font-size: $rhythm * 2.0;
}

.hero-display\:small {
    word-wrap: normal;
}


.section-email {
    form {
        & > * {
            margin-left: 50%;
            transform: translateX(-50%);

            width: 100%;
        }

        input {
            padding: $rhythm;

            max-width: 80%;

            height: $rhythm * 2;
        }

        button {
            width: 50%;
        }
    }
}

@media only screen and (min-width: 500px) {
    .section-hero {
        justify-content: center;
    }
}

@media only screen and (min-width: 820px) {
    .item-sponsor {
        flex: 1 ($rhythm * 8);
    }

    .section-hero {
        max-height: 30rem;
    }

    .hero-display_main-text {
        max-width: $rhythm * 16;
    }
}


@media only screen and (min-width: 1200px) {
    .section-hero {
        max-height: 36rem;
    }

    .hero-display {
        font-size: $rhythm * 3.5;
    }

    .section-email {
        form {
            input {
                padding: $rhythm;
    
                max-width: 50%;
    
                height: $rhythm * 2;
            }
    
            button {
                width: 20%;
            }
        }
    }
}
