article {
    margin: $rhythm 0;
}

.sub-time {
    color: gray;
    margin-bottom: 0.5rem;
}

.article-section_meeting {
    padding-bottom: 1rem;
}

.section-meeting-navigation {
    > a {
        text-decoration: none;
    }
}

.h2-link {
    font-size: 2rem;
    margin-bottom: 1rem;

    > a {
        text-decoration: none;
    }
}

.section-meeting-navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin: 0 calc($rhythm / 2);
    }
}

.section-meeting-navigation_link-list {
    margin: 0;

    li {
        margin: 0 calc($rhythm / 3);

        display: inline-block;

        a {
            margin: 0;

            text-decoration: none;
        }
    }
}