nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    padding: $rhythm ($rhythm * 2);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    width: 100vw;
    height: 100vh;

    background: white;

    visibility: hidden;
    opacity: 0;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);

    ul {
        margin: 0 0 ($rhythm * 1.5) 0;
    }
}

.navigation-active {
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-width: 1200px) {
    nav {
        position: relative;

        padding: 0;

        width: auto;
        height: auto;

        background: none;

        visibility: visible;
        opacity: 1;

        display: block;

        ul {
            margin-left: $rhythm * 5;

            display: flex;

            li {
                padding: ($rhythm / 2) $rhythm;
            }
        }
    }
}