nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    padding: $rhythm ($rhythm * 2);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    background: white;

    visibility: hidden;
    opacity: 0;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);

    ul {
        margin: 0 0 ($rhythm * 1.5) 0;
    }
}

.navigation-active {
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-width: 500px) and (max-width: 1200px) {
    nav {
        align-content: center;

        * {
            width: 100%;

            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }

        ul {
            display: block;
        }

        form {
            input {
                max-width: 50%;
            }

            button {
                max-width: 25%;
            }
        }
    }
}

@media only screen and (orientation: landscape) and (max-width: 1200px) {
    nav {
        display: flex;
        flex-flow: row wrap;
        align-content: center;

        overflow-y: scroll;

        ul {
            display: flex;
            flex-flow: row wrap;

            margin-top: 0.5 * $rhythm;
            margin-bottom: 0.5 * $rhythm;

            li {
                flex: 1 5%;
            }
        }

        .container-email_nav {
            form {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    nav {
        position: relative;

        padding: 0;

        width: auto;
        height: auto;

        background: none;

        visibility: visible;
        opacity: 1;

        display: block;

        ul {
            margin-left: $rhythm * 5;

            display: flex;

            li {
                padding: ($rhythm / 2) $rhythm;
            }
        }
    }
}

