@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Patua+One&display=fallback");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

html {
  font: 125%/1.4 "Cabin Condensed", "georgia", sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Cabin Condensed", "georgia", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  letter-spacing: 0.03em;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  color: inherit;
  font-family: "Patua One", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
  line-height: 1.1;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  color: inherit;
  font-family: "Patua One", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.21257rem;
  line-height: 1.1;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  color: inherit;
  font-family: "Patua One", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.05561rem;
  line-height: 1.1;
}

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  color: inherit;
  font-family: "Patua One", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 0.8rem;
  line-height: 1.1;
}

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  color: inherit;
  font-family: "Patua One", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 0.69644rem;
  line-height: 1.1;
}

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  color: inherit;
  font-family: "Patua One", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 0.6498rem;
  line-height: 1.1;
}

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

ul {
  margin-left: 1.4rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  list-style-position: outside;
  list-style-image: none;
}

ol {
  margin-left: 1.4rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.4rem;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

blockquote {
  margin-left: -1.4rem;
  margin-right: 1.4rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 1.1375rem;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  font-size: 0.91896rem;
  line-height: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
  border-left: 0.2625rem solid rgba(0, 0, 0, 0.87);
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.4rem - 1px);
  background: rgba(0, 0, 0, 0.2);
  border: none;
  height: 1px;
}

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
}

b {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

dt {
  font-weight: 700;
}

th {
  font-weight: 700;
}

li {
  margin-bottom: calc(1.4rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-left: 1.4rem;
  margin-bottom: calc(1.4rem / 2);
  margin-top: calc(1.4rem / 2);
}

li > ul {
  margin-left: 1.4rem;
  margin-bottom: calc(1.4rem / 2);
  margin-top: calc(1.4rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.4rem / 2);
}

code {
  font-size: 0.85rem;
  line-height: 1.4rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.4rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.4rem;
}

abbr {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td, th {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.93333rem;
  padding-right: 0.93333rem;
  padding-top: 0.7rem;
  padding-bottom: calc(0.7rem - 1px);
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

tt, code {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before, code:after, tt:before, tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before, pre code:after, pre tt:before, pre tt:after {
  content: none;
}

a {
  color: inherit;
}

a:hover {
  color: #3498DB;
}

@media only screen and (max-width: 480px) {
  blockquote {
    margin-left: -1.05rem;
    padding-left: 0.7875rem;
    margin-right: 0;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  overflow-x: hidden;
  flex: 1 0 auto;
}

section {
  padding: 1.4rem 1.68rem;
  margin-bottom: 1.4rem;
}

.section-first {
  margin-top: 5.2rem;
}

a {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

li {
  list-style: none;
  margin-bottom: 0;
}

li > ol {
  margin-bottom: 0;
}

li > ul {
  margin-bottom: 0;
  margin-top: 0;
}

td:first-child {
  font-weight: 700;
}

td,
th {
  border-bottom: 0px;
  padding-top: 0.6rem;
  padding-bottom: 0px;
  font-size: large;
}

input {
  border: 2px solid rgba(0, 0, 0, 0.871);
  margin-bottom: 1.4rem;
}

article h2 img {
  height: 40px;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-right: 5px;
}

article h2 {
  font-weight: 500;
}

hr {
  width: 100%;
}

@media only screen and (min-width: 534px) {
  main {
    padding: 1.4rem 2.1rem;
  }
}
@media only screen and (min-width: 700px) {
  main {
    padding: 1.4rem 7rem;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    padding: 1.4rem 14rem;
  }
}
.title {
  margin: 1.4rem 0;
  margin-top: 0;
  width: 100%;
  position: absolute;
  z-index: 99;
}
.title h1 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.1666666667rem;
}

.title-break {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

.bar-navigation {
  padding: 0 1.68rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 6px rgba(23, 23, 23, 0.55);
  background-color: white;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
}

.button-title {
  padding: 0;
  width: auto;
  height: 100%;
  text-align: left;
  margin: 0;
  border: none;
}
.button-title:hover, .button-title:active {
  transform: scale(1);
  background: none;
  color: rgba(0, 0, 0, 0.871);
}

@media only screen and (min-width: 534px) {
  .bar-navigation {
    padding: 1rem 3.78rem;
  }
}
@media only screen and (min-width: 700px) {
  .bar-navigation {
    padding: 1rem 8.68rem;
  }
}
@media only screen and (min-width: 1200px) {
  .bar-navigation {
    padding: 1rem 15.68rem;
  }
}
footer {
  padding: 0.7rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background: white;
  flex-shrink: 0;
}
footer a {
  text-decoration: none;
}
footer img {
  height: 100%;
  vertical-align: middle;
}
footer ul {
  margin: 0;
  padding: 0 1.68rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer ul li {
  margin: 0 0.4666666667rem;
  height: 28px;
}

.list-break {
  box-sizing: border-box;
  border-right: 1px solid black;
  height: 35px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  overflow-y: auto;
  padding: 1.4rem 2.8rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: flex-start;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(1, 0, 0, 1);
}
nav form,
nav .button-email {
  margin-bottom: 0;
}

.navigation-active {
  visibility: visible;
  opacity: 1;
}

.container-nav {
  margin: auto;
}
.container-nav a {
  text-decoration: none;
}
.container-nav li {
  margin-bottom: 0;
}

@media only screen and (min-width: 500px) and (max-width: 1200px) {
  nav {
    align-content: center;
  }
  nav * {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    margin-top: 2.8rem;
    display: block;
  }
  nav form input {
    max-width: 50%;
  }
  nav form button {
    max-width: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  nav {
    position: relative;
    padding: 0;
    width: auto;
    height: auto;
    background: none;
    visibility: visible;
    opacity: 1;
    display: block;
  }
  nav ul {
    margin-bottom: 0;
    display: flex;
  }
  nav ul li {
    padding: 0.7rem 0rem 0.7rem 1.8rem;
  }
}
fieldset {
  border: none;
}

input {
  padding: 1.4rem;
  max-width: 80%;
  height: 2.8rem;
}

button {
  width: 50%;
}

.container-email_nav form {
  margin: auto;
}

.section-email form fieldset > * {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.section-email form button {
  width: 50%;
}

@media only screen and (min-width: 500px) {
  .container-email_nav fieldset > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.form-label {
  margin-bottom: 1.4rem;
  display: inline-block;
  font-family: "Patua One", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

@media only screen and (min-width: 1200px) {
  .section-email form input {
    padding: 1.4rem;
    max-width: 50%;
    height: 2.8rem;
  }
  .section-email form button {
    width: 20%;
  }
}
button {
  padding: 0.28rem;
  width: 50%;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.871);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.871);
  color: white;
}

button:active {
  transform: scale(0.9);
}

button:focus,
button:active {
  outline: none;
  border: none;
}

.primary-button {
  padding: 0.56rem;
  background: rgba(0, 0, 0, 0.871);
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.871);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: 30px;
  -webkit-appearance: button;
  -moz-appearance: button;
  min-width: 167px;
  text-decoration: none;
  text-align: center;
}

.button-blank {
  border: none;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  transition: none;
}
.button-blank:hover {
  color: inherit;
  background: inherit;
}

.button_hamburger {
  margin-top: 0.7ex;
  width: 1.4rem;
  height: 1.4rem;
  background: none;
  position: relative;
  z-index: 3;
  border: none;
}
.button_hamburger figure {
  position: absolute;
  top: 0;
  left: -1ex;
  width: inherit;
  height: inherit;
}
.button_hamburger:hover {
  background: none;
}

.hamburger-enter {
  display: block;
  width: 1.68rem;
  height: 0.2545454545rem;
  margin-top: 0.5090909091rem;
  background: rgba(0, 0, 0, 0.871);
  transition: all 0.4s cubic-bezier(1, 0, 0, 1);
}
.hamburger-enter::before, .hamburger-enter::after {
  display: block;
  position: absolute;
  z-index: -1;
  content: "";
  width: 1.68rem;
  height: 0.2545454545rem;
  background: rgba(0, 0, 0, 0.871);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.hamburger-enter::before {
  left: 0;
  top: 0;
}
.hamburger-enter::after {
  left: 0;
  top: 1.0181818182rem;
}

.hamburger-exit {
  background: none;
}
.hamburger-exit::before, .hamburger-exit::after {
  top: 0.5090909091rem;
}
.hamburger-exit::before {
  transform: rotate(-45deg);
}
.hamburger-exit::after {
  transform: rotate(45deg);
}

.button_social {
  background: none;
  border: 0;
  padding: 0;
  min-width: 1.4rem;
}

.button-email {
  padding: 0.56rem;
  background: rgba(0, 0, 0, 0.871);
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.871);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.button-email:hover {
  background: none;
  color: rgba(0, 0, 0, 0.871);
}

.article_meeting p a {
  display: inline-block;
  padding: 0.56rem;
  background: rgba(0, 0, 0, 0.871);
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.871);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: 30px;
  min-width: 167px;
  text-decoration: none;
  text-align: center;
  font-size: medium;
}

@media only screen and (min-width: 1200px) {
  button {
    max-width: 30%;
  }

  .button_hamburger {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .container-email_nav {
    display: none;
  }
}
article {
  margin: 1.4rem 0;
}

.sub-time {
  color: gray;
  margin-bottom: 0.5rem;
}

.article_section {
  margin: 1.4rem 0;
}

.section-meeting-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-meeting-navigation a {
  margin: 0 0.7rem;
}

.section-meeting-navigation_link-list {
  margin: 0;
}
.section-meeting-navigation_link-list li {
  margin: 0 0.4666666667rem;
  display: inline-block;
}
.section-meeting-navigation_link-list li a {
  margin: 0;
  text-decoration: none;
}

.list-sponsors {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.item-sponsor {
  padding: 0 1.4rem;
  margin: 0.7rem 0;
  flex: 1 auto;
  min-height: 75px;
  max-width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-sponsor img {
  width: 100%;
  height: 100%;
}

.section-hero {
  margin-top: 5.6rem;
  height: 100vh;
  min-height: 22.4rem;
  max-height: 25rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.hero-display_main-text {
  margin: auto 0;
  max-width: 14rem;
}
.hero-display_main-text > * {
  position: relative;
  z-index: 5;
}

.hero-display {
  word-wrap: normal;
  font-size: 2.8rem;
  font-weight: 500;
}

.hero-display\:small {
  word-wrap: normal;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.background-arrow_hero {
  opacity: 0.8;
  z-index: 1;
  width: 120vw;
  height: 100%;
}

.background-image_hero {
  z-index: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.event-header img {
  height: 60px;
  width: 60px;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-right: 40px;
}

.event-header span {
  vertical-align: middle;
  font-size: 2.8rem;
  font-weight: 500;
}

@media only screen and (min-width: 500px) {
  .section-hero {
    justify-content: center;
  }
}
@media only screen and (min-width: 534px) {
  .background-arrow_hero {
    width: 65vw;
    left: -2.1rem;
    opacity: 1;
  }

  .background-image_hero {
    left: 20vw;
  }
}
@media only screen and (min-width: 700px) {
  .background-arrow_hero {
    width: 60vw;
    left: -7rem;
  }
}
@media only screen and (min-width: 820px) {
  .item-sponsor {
    flex: 1 11.2rem;
  }

  .section-hero {
    max-height: 20rem;
  }

  .hero-display_main-text {
    max-width: 22.4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .section-hero {
    max-height: 30rem;
  }

  .hero-display {
    font-size: 4.9rem;
  }

  .background-arrow_hero {
    width: 50vw;
    left: -14rem;
  }
}
.section-about {
  display: flex;
  flex-flow: row wrap;
}

.article-about {
  flex: 1 70%;
}

.section-officers {
  background: #5DC5EE;
  padding: 2rem 10vw;
}
.section-officers h1 {
  color: white;
}

.list-officers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.list-officers-item {
  margin: 2.1rem 2.8rem;
  flex: 1 50%;
  max-width: 5.6rem;
}
.list-officers-item img {
  border-radius: 50%;
}
.list-officers-item a {
  color: white;
}

.hr\:dotted {
  background: none;
  border-top: rgba(0, 0, 0, 0.2) 2px dashed;
}

.hr\:dotted_white {
  border-top-color: white;
}

.section-goal {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.section-goal-icon_small {
  max-width: 5rem;
}

.section-goal-text {
  max-width: 30rem;
}

@media only screen and (min-width: 1024px) {
  .list-officers-item {
    max-width: 8.4rem;
  }
}
.hidden {
  display: none;
}

.scroll-freeze {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.align-text\:start {
  text-align: start;
}

.align-text\:center {
  text-align: center;
}

.align-text\:end {
  text-align: end;
}

.text_white {
  color: white;
}

.pack\:right {
  margin-right: 0;
  margin-left: auto;
}

.bold {
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
